.store_list{
    width: 70px;
    height: 50px;
    background-color: #eb6b6b;
    border-radius: 10%;
    /* margin: 0 auto; */
    margin-left: 20px;
    margin-top: 8px;
    border: none;
    cursor: pointer;
    color: white;
}